.todo-page {
  padding: 30px 0;

  &__inner {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background: $main-color-lightest;
    box-shadow: -2px 2px 0 $secondary-color-lightest;
    border-radius: 10px;
  }

  &__title {
    margin: 0 0 15px;
    font-size: 26px;
    color: $element-color;
  }

  &__text {
    margin: 0 0 20px;
    font-size: 18px;
  }

  &__button {
    max-width: 200px;
    margin: 0 auto;
    border-radius: 10px;
  }
}
