.options-page {
  padding: 30px 0 0;

  &__title {
    margin: 0 0 40px;
    text-align: center;
    font-size: 32px;
  }

  &__form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: $main-color-lightest;
    box-shadow: -2px 2px 0 $secondary-color-lightest;

    &-button.button {
      max-width: 30px;
      margin: 0 0 20px;
      padding: 3px 5px;
      border-radius: 3px;

      svg {
        width: 20px;
        height: 12px;
        transform: rotate(180deg);
      }
    }
  }
}
