.navigation ul {
  display: flex;

  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -3px 0 0 20px;
    border: 2px solid $element-color-darkest;
    border-radius: 50%;

    a {
      margin: 0;
      padding: 1px 10px 2px;
      font-size: 20px;
      font-weight: 700;
      text-shadow: none;
      border: none;

      &.active {
        border: none;
      }
    }
  }
}
