.todo-list-item {
  display: flex;
  flex-direction: column;
  flex: 0 0 30%;
  margin: 0 20px 30px;
  padding: 10px 0 0;
  background: $secondary-color-lightest;
  border-radius: 8px;
  box-shadow: 3px 3px 0 5px $secondary-color;

  &__title {
    margin: 0 0 25px;
    padding: 0 20px;
    font-weight: 500;
    font-size: 26px;
    color: $main-color-darkest;
  }

  &__text {
    margin: 0 0 35px;
    padding: 0 20px;
    color: $text-color-lightest;
    font-weight: 500;
    font-size: 20px;
  }

  .button {
    margin: auto 0 0;
  }
}
