$black: #000000;
$white: #ffffff;
$basic-color: #9e7965;
$basic-color-darkest: #6e5446;
$basic-color-lightest: #bba193;
$main-color: #381614;
$main-color-darkest: #2c1110;
$main-color-lightest: #5f4442;
$secondary-color: #651c25;
$secondary-color-darkest: #50161d;
$secondary-color-lightest: #834950;
$text-color: #e0a092;
$text-color-darkest: #9c7066;
$text-color-lightest: #e9bcb2;
$element-color: #be6f73;
$element-color-darkest: #854d50;
$element-color-lightest: #d19a9d;
